*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "kumbh_sans";
  src: url(./assets/fonts/KumbhSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kumbh_sans";
  src: url(./assets/fonts/KumbhSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

:root {
  --clr-primary-text-100: hsl(238, 29%, 16%);
  --clr-primary-text-900: hsl(14, 88%, 65%);
  --clr-primary-grad-100: hsl(273, 75%, 66%);
  --clr-primary-grad-200: hsl(240, 73%, 65%);
  --clr-neutral-text-100: hsl(237, 12%, 33%);
  --clr-neutral-text-200: hsl(240, 6%, 50%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-divid: hsl(240, 5%, 91%);
  --ff-primary: "kumbh_sans";
  --fs-main: 0.875rem;
  --fs-title: 2rem;
  --fs-answer: 0.857em;
  --card-item-padding: 1.1875em;
}

.container {
  height: 100vh;
  width: calc(min(87%, 90rem));
  margin-inline: auto;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-main);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-primary-grad-100)), to(var(--clr-primary-grad-200)));
  background: linear-gradient(var(--clr-primary-grad-100), var(--clr-primary-grad-200));
}

.card-shadow-wrapper {
  max-width: 57.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-shadow-wrapper::before {
  content: url(./images/illustration-box-desktop.svg);
  position: absolute;
  top: 12.875rem;
  left: -5.8125rem;
  z-index: 3;
}

@media screen and (max-width: 23.4375rem) {
  .card-shadow-wrapper::before {
    content: url(./images/illustration-woman-online-mobile.svg);
    position: absolute;
    top: -108px;
    left: 45%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.card {
  min-height: 31.8125rem;
  border-radius: 1.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 0.25em 0.25em rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0.25em 0.25em rgba(0, 0, 0, 0.25));
  -webkit-box-shadow: 0px 3.125em 3.125em -1.25em rgba(53, 18, 122, 0.5);
          box-shadow: 0px 3.125em 3.125em -1.25em rgba(53, 18, 122, 0.5);
  background-color: var(--clr-neutral-white);
}

@media screen and (max-width: 23.4375rem) {
  .card {
    min-height: 30rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__image {
  width: 42%;
  position: relative;
}

.card__image-desktop-1 {
  position: absolute;
  top: -18.75rem;
  left: -36.1875rem;
  z-index: 1;
}

.card__image-desktop-2 {
  position: absolute;
  top: 4.375rem;
  left: -5.3125rem;
  z-index: 2;
}

.card__image-mobile-1 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card__image-mobile-2 {
  position: absolute;
  top: 0;
  left: 44%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 23.4375rem) {
  .card__image {
    width: 100%;
    min-height: 6.6875rem;
  }
  .card__image-desktop-1, .card__image-desktop-2 {
    display: none;
  }
}

.card__content {
  width: 58%;
  padding: 4.0625em 6em 1em 5.375em;
}

@media screen and (max-width: 23.4375rem) {
  .card__content {
    width: 100%;
    padding: 1.75em 1.5em 3em;
  }
}

.card__title {
  font-weight: bold;
  font-size: var(--fs-title);
  margin-bottom: 1.40625em;
  color: var(--clr-primary-text-100);
}

@media screen and (max-width: 23.4375rem) {
  .card__title {
    text-align: center;
    margin-bottom: 1.1875em;
  }
}

.card__item {
  max-width: 21.875rem;
  padding-top: var(--card-item-padding);
  border-bottom: 1px solid var(--clr-neutral-divid);
}

.card__item:hover {
  padding-bottom: var(--card-item-padding);
}

.card__item:hover .card__question {
  font-weight: bold;
  color: var(--clr-primary-text-100);
}

.card__item:hover .card__arrow {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.card__item:hover .card__answer {
  display: block;
  font-size: var(--fs-answer);
  line-height: 1.5;
  color: var(--clr-neutral-text-200);
}

.card__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: var(--card-item-padding);
}

.card__question {
  font-weight: normal;
  color: var(--clr-neutral-text-100);
}

@media screen and (max-width: 23.4375rem) {
  .card__question {
    font-size: 0.8125rem;
  }
}

.card__arrow {
  margin-left: 0.875em;
  margin-right: 1em;
}

@media screen and (max-width: 23.4375rem) {
  .card__arrow {
    margin-right: 0;
  }
}

.card__answer {
  display: none;
  max-width: 43ch;
}
/*# sourceMappingURL=main.css.map */