*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "kumbh_sans";
    src: url(./assets/fonts/KumbhSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "kumbh_sans";
    src: url(./assets/fonts/KumbhSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

:root {
    --clr-primary-text-100: hsl(238, 29%, 16%);
    --clr-primary-text-900: hsl(14, 88%, 65%);

    --clr-primary-grad-100: hsl(273, 75%, 66%);
    --clr-primary-grad-200: hsl(240, 73%, 65%);

    --clr-neutral-text-100: hsl(237, 12%, 33%);
    --clr-neutral-text-200: hsl(240, 6%, 50%);

    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-divid: hsl(240, 5%, 91%);

    --ff-primary: "kumbh_sans";
    --fs-main: 0.875rem;
    --fs-title: 2rem;
    --fs-answer: 0.857em;

    --card-item-padding: 1.1875em;
}

.container {
    width: calc(min(87%, 90rem));
    margin-inline: auto;
}

body {
    min-height: 100vh;
    padding: 102px 0;

    font-family: var(--ff-primary);
    font-size: var(--fs-main);
    background: linear-gradient(var(--clr-primary-grad-100), var(--clr-primary-grad-200));

    @media screen and (max-width: 58.125rem) {
        padding: 130px 0 90px;
    }
}

.card-shadow-wrapper {
    max-width: 57.5rem;
    margin: 0 auto;

    position: relative;

    &::before {
        content: url(./assets/images/illustration-box-desktop.svg);
        position: absolute;
        top: 12.875rem;
        left: -5.8125rem;
        z-index: 3;
    }

    @media screen and (max-width: 58.125rem) {
        max-width: 21rem;

        &::before {
            content: url(./assets/images/illustration-woman-online-mobile.svg);
            position: absolute;
            top: -108px;
            left: 45%;
            transform: translateX(-50%);
        }
    }
}

.card {
    min-height: 31.8125rem;
    border-radius: 1.4375rem;

    display: flex;
    overflow: hidden;

    filter: drop-shadow(0px 0.25em 0.25em rgba(0, 0, 0, 0.25));
    box-shadow: 0px 3.125em 3.125em -1.25em rgba(53, 18, 122, 0.5);

    background-color: var(--clr-neutral-white);

    @media screen and (max-width: 58.125rem) {
        min-height: 30rem;
        flex-direction: column;
    }
}

.card__image {
    width: 42%;

    position: relative;

    &-desktop-1 {
        position: absolute;
        top: -18.75rem;
        left: -36.1875rem;
        z-index: 1;
    }

    &-desktop-2 {
        position: absolute;
        top: 4.375rem;
        left: -5.3125rem;
        z-index: 2;
    }

    &-mobile-1 {
        display: none;
    }

    @media screen and (max-width: 58.125rem) {
        width: 100%;
        min-height: 6.6875rem;

        &-desktop-1,
        &-desktop-2 {
            display: none;
        }

        &-mobile-1 {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.card__content {
    width: 58%;
    padding: 4.0625em 6em 3em 5.375em;

    @media screen and (max-width: 58.125rem) {
        width: 100%;
        padding: 1.75em 1.5em 3em;
    }
}

.card__title {
    font-weight: bold;
    font-size: var(--fs-title);

    margin-bottom: 1.40625em;

    color: var(--clr-primary-text-100);

    @media screen and (max-width: 58.125rem) {
        text-align: center;
        margin-bottom: 1.1875em;
    }
}

.card__item {
    max-width: 21.875rem;
    padding-top: var(--card-item-padding);

    border-bottom: 1px solid var(--clr-neutral-divid);

    &[open] {
        .card__question {
            font-weight: bold;
            color: var(--clr-primary-text-100);
        }

        .card__arrow {
            transform: rotateZ(180deg);
        }

        .card__answer {
            animation: slide 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
        }
    }
}

.card__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: var(--card-item-padding);

    &:hover {
        .card__question {
            color: var(--clr-primary-text-900);
        }
    }
}

.card__question {
    font-weight: normal;
    color: var(--clr-neutral-text-100);

    @media screen and (max-width: 58.125rem) {
        font-size: 0.8125rem;
    }
}

.card__arrow {
    margin-left: 0.875em;
    margin-right: 1em;

    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 58.125rem) {
        margin-right: 0;
    }
}

.card__answer {
    max-width: 43ch;
    padding-bottom: var(--card-item-padding);

    font-size: var(--fs-answer);
    line-height: 1.5;
    color: var(--clr-neutral-text-200);
}

@keyframes slide {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}
